{% extends "base.html" %}

{% block title %}New Entry{% endblock %}

{% block content %}
<h2>New Entry</h2>
<form method="POST" action="{{ url_for('entries.new_entry') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.sum.label }}<br>
        {{ form.sum(size=32) }}<br>
        {{ form.sum.errors }}
    </div>
    <div>
        {{ form.income.label }}<br>
        {{ form.income() }}<br>
        {{ form.income.errors }}
    </div>
    <div>
        <input type="submit" value="Create Entry">
    </div>
</form>
{% endblock %}